# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual environments
.env
.venv
env/
venv/

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Build and asset caches
*.log
*.sqlite3
